/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Roboto:wght@400;500;700&display=swap");

@font-face {
	font-family: "Gotham";
	src: url("GothamRoundedLight_21020.ttf") format("woff2"),
	  url("GothamRoundedMedium_21022.ttf") format("woff"),
	  url("GothamRoundedBold_21016.ttf") format("woff");
	font-weight: normal;
	font-style: normal;
  }

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Electrolize", sans-serif;
  font-size: 1.6rem;
  background-color: var(--color4);
  color: var(--color5);
}
/* Colors */
:root {
  --color1: #2b2928; /*gri-siyah*/
  --color2: #d4be87; /*vanilya-sarısı*/
  --color3: #424d21; /*zeytin-yeşili*/
  --color4: #ebebeb; /*açık gri*/
  --color5: #fff;
}
/* Colors END */

/*! Navbar */
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10rem;
	position: absolute;
	width: 100%;
	z-index: 3;
  }
  .logo {
	width: 6rem;
	transition: all 0.5s ease;
  }
  .logo:hover {
	transform: scale(1.2);
  }
  /*? Links */
  .links {
	display: flex;
	column-gap: 1.2rem;
	list-style-type: none;
	align-items: center;
	padding-left: 0;
  }
  
  .links-items a {
	text-decoration: none;
	color: var(--color5);
	font-size: 1.7rem;
  }
  .links-items a:hover {
	color: var(--color2);
  }
  .active {
	border-bottom: 2px solid var(--color5);
  }
  /*? Links END */
  
  /*! Navbar END */

  /*! Video  */

.video {
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	object-fit: cover;
	width: 100%;
	height: 100vh;
  }
  
  .video-content {
	position: absolute;
	width: 50%;
  }
  
  .video-header {
	letter-spacing: 0.7rem;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 6.75rem;
  }
  .video-article {
	font-size: 2rem;
  }
  
  /*! Video END */

  /*!Cards */
.cards {
	background-color: var(--color3);
	margin: 3rem 10%;
	border-radius: 1rem;
	overflow: hidden;
	-webkit-box-shadow: 0px 5px 5px 7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 5px 7px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 5px 7px rgba(0, 0, 0, 0.75);
	position: relative;
	top: -7rem;
	z-index: 1;
  }
  .cards-item {
	display: flex;
  }
  .card-content {
	width: 100%;
	flex-wrap: wrap;
  }
  .card-content p {
	font-family: "Roboto";
	padding: 2rem;
	letter-spacing: 1px;
  }
  
  .card-image {
	background-image: url(coffee-beans.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
  }
  .card-image2 {
	background-image: url(farmer.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
  }
  /*!Cards  END*/

  /*!Products  */
.products {
	position: relative;
	padding: 2.5rem;
	top: -11.8rem;
	background-color: var(--color1);
	text-align: center;
  }
  .products-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	column-gap: 2rem;
	padding-bottom: 2.5rem;
  }
  
  .grid-items {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: var(--color1);
	background-color: var(--color4);
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	overflow: hidden;
	line-height: 2.5rem;
	cursor: pointer;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .grid-items:hover .items-img {
	transform: scale(1.1);
	cursor: pointer;
  }
  .items-img {
	background-position: center;
	background-size: cover;
	height: 20rem;
  
	transition: all 0.3s ease;
  }
  .items-article {
	margin: 0rem 2rem;
  }
  .items-article p {
	font-family: "Roboto";
	letter-spacing: 1px;
  }
  .items-img1 {
	background-image: url(urun1.jpg);
  }
  .items-img2 {
	background-image: url(urun2.jpg);
  }
  .items-img3 {
	background-image: url(urun3.jpg);
  }
  /*!Products END */

  /* ! Contact */
.contact {
	background-color: #5e4328;
	margin: 0px 10%;
	overflow: hidden;
	border-radius: 1rem;
	position: relative;
	top: -6.5rem;
	text-align: center;
	-webkit-box-shadow: 0px 5px 5px 7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 5px 7px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 5px 7px rgba(0, 0, 0, 0.75);
  }
  .contact-us {
	background-image: url(contact-bg.jpg);
	background-position: center;
	background-size: cover;
	backdrop-filter: blur(1rem);
	position: relative;
	font-family: "Roboto";
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
  }
  .contact-items {
	font-weight: bold;
	font-family: "Roboto";
  }
  .wrapper {
	padding: 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .blur {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	backdrop-filter: blur(0.8rem);
  }
  /* ! Contact END */

  /*! Footer */
footer {
	background-color: var(--color1);
	height: 12.5rem;
	font-size: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 1.5rem;
  }
  .icon {
	display: flex;
	list-style: none;
	column-gap: 1rem;
	align-items: center;
  }
  .icon-items {
	cursor: pointer;
  }
  .icon-items:hover {
	cursor: pointer;
	color: var(--color2);
  }
  
  .arrow {
	cursor: pointer;
	background-color: var(--color1);
	padding: 0.3rem 0.5rem;
	transition: all 0.3s ease;
	border-radius: 0.5rem;
  }
  .arrow:hover {
	background-color: var(--color2);
  }
  /*! Footer END */

  /* other pages */
  .about-cards {
	background-color: var(--color1);
	border-radius: 0;
	box-shadow: none;
	position: static;
  }
  .customer {
	position: static;
	color: var(--color1);
  }
  .customer-grid-items {
	background-color: var(--color4);
	box-shadow: none;
	transition: all 0.3s ease;
  }
  .customer-grid-items:hover {
	transform: translateY(-1rem);
  }
  .avatar {
	margin-bottom: 2rem;
  }
  .avatar img {
	width: 5rem;
	border-radius: 50%;
  }
  .avatar h3 {
	margin: 0.2rem 0rem;
  }

  /* ! Login */

  section {
	width: 45rem;
	height: 51rem;
	padding: 1.5rem;
	background-color: var(--color5);
	margin: 10rem auto;
	border-radius: 10px;
	font-size: 2rem;
	overflow: hidden;
	box-shadow: rgb(109, 104, 100) 0px 20px 30px -10px;
  }
  .forms {
	position: relative;
  }
  #signform {
	position: absolute;
	transition: all 0.5s ease;
	margin-left: 5rem;
  }
  #signform2 {
	position: absolute;
	transition: all 0.5s ease;
	margin-left: 5rem;
  }
  .form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color1);
	min-width: 32rem;
  }
  .sign {
	display: flex;
	column-gap: 2rem;
	margin: 1rem 0;
	font-size: 1.6rem;
	font-weight: bold;
  }
  .sign label {
	cursor: pointer;
  }
  .input {
	display: flex;
	justify-content: center;
	padding: 1rem;
  }
  .input input {
	padding: 1.5rem 2rem;
	width: 30rem;
	border-radius: 5rem;
	outline: none;
	border: none;
	font-family: "Gotham";
	font-weight: 600;
	color: var(--color1);
	font-size: 1.6rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .check {
	align-items: center;
	display: inline;
	margin: 10px 0px;
	margin-left: 3rem;
	accent-color: var(--color2);
  }
  input[type="checkbox"] {
	cursor: pointer;
  }
  .check label {
	font-size: 1.6rem;
  }
  .button {
	display: flex;
	justify-content: center;
	padding: 5px;
	margin: 1rem 0;
  }
  .warning p {
	text-align: center;
	font-size: 1.4rem;
	color: var(--color2);
	font-weight: 500;
  }
  .button button {
	padding: 1.5rem 2rem;
	width: 30rem;
	font-size: 1.6rem;
	border-radius: 5rem;
	outline: none;
	border: none;
	font-weight: bold;
	font-family: "Gotham";
	cursor: pointer;
	color: var(--color5);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: var(--color2);
  }
  .forgot {
	display: flex;
	justify-content: center;
	margin: 25px 0px;
  }
  .forgot a {
	color: var(--color1) 1;
	text-decoration: none;
	opacity: 0.5;
	font-weight: 500;
  }
  .forgot a:hover {
	color: rgb(0, 0, 0);
	opacity: 1;
  }
  
  #SignIn:checked ~ section #signform2,
  #SignUp:checked ~ section #signform {
	transform: translatex(150%);
  }
  
  #SignIn:checked ~ section .sign label:first-child,
  #SignUp:checked ~ section .sign label:last-child {
	margin-bottom: -2px;
	border-bottom: 2px solid var(--color2);
  }
  
  /* ! Login END */
  /* other pages end*/

  /*? Responsive   */

@media screen and (max-width: 1050px) {
	.video-header {
	  font-size: 6rem;
	}
	.video-article {
	  font-size: 1.5rem;
	}
  }
  @media screen and (max-width: 950px) {
	.video-header {
	  font-size: 5rem;
	}
	.video-article {
	  font-size: 1.5rem;
	}
  
	.cards-item {
	  display: flex;
	  flex-direction: column;
	}
	.card-image {
	  height: 30rem;
	}
	.card-image2 {
	  height: 30rem;
	}
  }
  @media screen and (max-width: 815px) {
	body {
	  font-size: 1.2rem;
	}
	.video-header {
	  font-size: 4rem;
	}
  
	.card-content h2,
	p {
	  display: inline-block;
	  margin: 0;
	}
	.products-grid {
	  display: grid;
	  grid-template-columns: repeat(1, 1fr);
	  row-gap: 2rem;
	}
  }
  @media screen and (max-width: 675px) {
	.video-header {
	  font-size: 3rem;
	}
	nav {
	  height: 10rem;
	}
	.links-items a {
	  font-size: 1.5rem;
	  margin-left: 0px;
	}
	.card-content h2,
	p {
	  display: inline-block;
	  margin: 0;
	  letter-spacing: 0px;
	}
	.card-content p {
	  padding: 1rem;
	}
  }
  @media screen and (max-width: 550px) {
	.video-header {
	  font-size: 2rem;
	}
	.video-article {
	  font-size: 1.1rem;
	}
  }
  @media screen and (max-width: 460px) {
	.logo {
	  width: 3.7rem;
	}
	.links-items a {
	  font-size: 1.3rem;
	}
  }
  @media screen and (max-width: 410px) {
	.video-content {
	  width: 100%;
	}
	nav {
	  height: 6rem;
	}
  }
  
  /*? Responsive END  */